<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Cadastro</h1>
    <p>Escolha uma das opções abaixo:</p>
    <ul>
        <li><a href="/usuarios">Cadastrar Usuário</a></li>
        <li><a href="/times">Cadastrar Time</a></li>
        <li><a href="/vinculados">Cadastrar Vinculado</a></li>
        <li><a href="/associar">Associar Usuário a Times</a></li>
    </ul>
</body>
</html>